@import '/styles/variables.scss';

.container {
  display: flex;
  width: calc(100vw - 16px);
  height: $footer_height;
  justify-content: center;
  align-items: center;
  border-top: 1px solid;
  background-color: white;
}
