@import './../styles/variables.scss';

// * * ------------ mixin ------------ * *
/// mixin to locate center position using flexbox.
@mixin flex-center() {
  justify-content: center;
  display: flex;
}
/**-------------------------------**/

.container {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 16px);
  height: 100vh;
  margin: auto;
  position: relative;
}

.contents {
  width: 100%;
  position: absolute;
  top: calc($header_height);
}

.title {
  @include flex-center();
  color: black;
}

.card_list {
  // display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 16px;
  @include flex-center();
  margin-bottom: 16px;
}

.card_list_style_big {
  // display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 16px;
  @include flex-center();
  margin-bottom: 16px;
}

.card {
  @include flex-center();
  width: 40vw;
  margin: 0px 8px;
}

.card_style_big {
  @include flex-center();
  width: 100%;
}

.fadeIn {
  animation-name: fadeInAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
